<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porfolio|Sol Balbi</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <div class="cajita"> 
            <div class="menu">
                <a class="navegacion1" href="../index.html">Sobre Mi</a> 
                <a class="navegacion1" href="porfolio.html">Porfolio</a> 
                <a class="navegacion1" href="presupuesto.html">Presupuesto</a> 
                <a style="color: rgb(240, 233, 232);" class="navegacion1" href="contactos.html">Contacto</a>
            </div>
        </div>
    </header>
    <main>
        <h2 class="titulo_ubicacion">Encuentrame Aquí!</h2>
        <section class="contacto">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25643.12370018023!2d-4.6153154852284395!3d36.544697177701956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72e23e102ffa23%3A0x2058dc519b1962f4!2s29640%20Fuengirola%2C%20M%C3%A1laga!5e0!3m2!1ses!2ses!4v1685119569876!5m2!1ses!2ses" width="800" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="contenedor_contacto">
                <div class="caja_contacto">
                    <img class="imagenes_contacto" src="../fotos/correo.png" alt="correo">
                    <p>solbalbi8@gmail.com</p>
                </div>
                <div class="caja_contacto">
                    <img class="imagenes_contacto_ubicacion" src="../fotos/ubicacion.png" alt="ubicacion">
                    <p>Fuengirola, Hernan Cortes 33</p>
                </div>
                <div class="caja_contacto">
                    <img class="imagenes_contacto" src="../fotos/telefono-movil.png" alt="movil">
                    <p>613089345</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="cajita1">
            <div class="caja_legal"> 
                <p>Fuengirola, Hernan Cortes 33</p>
                <a href="https://www.aepd.es/es/politica-de-privacidad-y-aviso-legal">Aviso Legal</a>
            </div>
            <div>
                <a href="https://es.linkedin.com/"><img class="logo" src="../fotos/linkedin.png" alt="logo linkedin"></a>
                <a href="https://www.instagram.com/"><img class="logo" src="../fotos/instagram.png" alt="logo instagram"></a>
                <a href="contactos.html"><img class="logo" src="../fotos/whatsapp.png" alt="logo contacto"></a> 
            </div>
        </div>
    </footer>
</body>
</html>
       