<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porfolio|Sol Balbi</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <div class="cajita"> 
            <div class="menu">
                <a class="navegacion1" href="../index.html">Sobre Mi</a> 
                <a style="color: rgb(240, 233, 232);" class="navegacion1" href="porfolio.html">Porfolio</a> 
                <a class="navegacion1" href="presupuesto.html">Presupuesto</a> 
                <a class="navegacion1" href="contactos.html">Contacto</a>
            </div>
        </div>
    </header>
    <main>
        <h2 class="titulo_proyectos">Mis Proyectos</h2>
        <div class="proyectos">
            <div class="caja_proyectos">
                <img src="../fotos/comida_sana.jpg" alt="">
                <h4>Heubowl</h4>
                <p>(Vietnamese Kitchen)</p>
            </div>
            <div class="caja_proyectos">
                <h4>Grady´s</h4> 
                <p> (Productos deribados del cafe)</p>
                <img src="../fotos/cafe.jpg" alt="">
            </div>
            <div class="caja_proyectos" >
                <img src="../fotos/auto1.jpg" alt="">
                <h4>Aoys Toys</h4> 
                <p>(Renta de coches)</p>
            </div>
            <div class="caja_proyectos">
                <h4>Bulldozer</h4> 
                <p>(Empresa de construcción)</p>
                <img src="../fotos/construccion.jpg" alt="">
            </div>
        </div>
    </main>
    <footer>
        <div class="cajita1">
            <div class="caja_legal"> 
                <p>Fuengirola, Hernan Cortes 33</p>
                <a href="https://www.aepd.es/es/politica-de-privacidad-y-aviso-legal">Aviso Legal</a>
            </div>
            <div>
                <a href="https://es.linkedin.com/"><img class="logo" src="../fotos/linkedin.png" alt="logo linkedin"></a>
                <a href="https://www.instagram.com/"><img class="logo" src="../fotos/instagram.png" alt="logo instagram"></a>
                <a href="contactos.html"><img class="logo" src="../fotos/whatsapp.png" alt="logo contacto"></a> 
            </div>
        </div>
    </footer>
</body>
</html>      
        