<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porfolio|Sol Balbi</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <div class="cajita"> 
            <div class="menu">
                <a class="navegacion1" href="../index.html">Sobre Mi</a> 
                <a class="navegacion1" href="porfolio.html">Porfolio</a> 
                <a style="color: rgb(240, 233, 232);" class="navegacion1" href="presupuesto.html">Presupuesto</a> 
                <a class="navegacion1" href="contactos.html">Contacto</a>
            </div>
        </div>
    </header>
    <main>
        <h2 class="caja_presupuesto">PIDE TU PRESUPUESTO AQUI!</h2>
        <div class="formulario">
            <form>
                Nombre:<input type="text" name="Nombre" id="Nombre" placeholder="Escribe tu nombre"><br>
                Email:<input type="email" name="Email" id="Email" placeholder="Email"><br>
                Teléfono:<input type="tel" name="telefono" id="telefono" placeholder="movil"><br>
                Solicite más información<br>
                <textarea cols="38" rows="10" placeholder="Escribe brevemente..."></textarea><br>
                <input type="checkbox" name="casilla" value="marcada" required>
                Política de Privacidad
                <input type="submit" value="Enviar Consulta"> 
                <input type="reset" value="Borrar Formulario"><br> 
            </form>
        </div>
    </main>
    <footer>
        <div class="cajita1">
            <div class="caja_legal"> 
                <p>Fuengirola, Hernan Cortes 33</p>
                <a href="https://www.aepd.es/es/politica-de-privacidad-y-aviso-legal">Aviso Legal</a>
            </div>
            <div>
                <a href="https://es.linkedin.com/"><img class="logo" src="../fotos/linkedin.png" alt="logo linkedin"></a>
                <a href="https://www.instagram.com/"><img class="logo" src="../fotos/instagram.png" alt="logo instagram"></a>
                <a href="contactos.html"><img class="logo" src="../fotos/whatsapp.png" alt="logo contacto"></a> 
            </div>
        </div>
    </footer> 
</body>
</html>






